---
version: '2'
services:
  # This container is in charge of messenger message management
  # Send all the message to the "messenger-message-inbox" queue
  chatbox-messenger-app:
    image: dataspartan/chatbox-messenger-app
    hostname: chatbox-messenger-app
    ports:
      - '5000:5000'
    environment:
      - MESSENGER_APP_SECRET=a0bbc1b916da7a0300492c615deb0b73
      - MESSENGER_VALIDATION_TOKEN=EAAcJwZC7SUf0BAMVvQo1DpjSVCRtAiwrJeDKSop9LmXz88Jk7qaPZCsxLuHbZCv7Ex4utR3qUzndtLFGC6kqdGKkXs5QRaUMeg82XuD7Bk9ZAcBTv7fCFkLxp2zsBDWCjZCcMhHkpNqRjXj8XeXPAUaSZAMh1OXE8EpYUi2gIY6AZDZD
      - MESSENGER_PAGE_ACCESS_TOKEN=chatbox_web_token
      - SERVER_URL= https://212.51.59.55
      - ZOOKEEPER_SERVER=HortonWorks21:2181
      - DEBUG=true
    extra_hosts:
       - "HortonWorks21:10.20.1.21"
       - "hortonworks21:10.20.1.21"